@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.cover {
  display: flex;
  padding: 1.5rem 0;
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  color: #ffffff;
  white-space: nowrap; /* 줄 바꿈 금지 */
}

.cover:nth-child(1) {
  background-color: #0D0C22;
}

.cover2 {
    display: flex;
    padding: 1.5rem 0;
    font-size: 2rem;
    font-family: "Pacifico", cursive;
    color: #0D0C22;
    white-space: nowrap; /* 줄 바꿈 금지 */
  }
  
  .cover2:nth-child(1) {
    background-color: #ffffff;
  }