code, .card .line-numbers {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  font-smooth: auto;
  font-weight: 300;
  line-height: 1.5;
}

.card {
  height: 12em;
  width: 20em;
}
.card-back {
  height: 12em;
  width: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  background: #0D0C22;
}

.codeUi-section{
  display: flex;
  flex-direction: column; /* 세로 방향으로 정렬 */
  justify-content: center; /* 주 축을 따라 세로 방향 가운데 정렬 */
  align-items: center; /* 교차 축을 따라 가로 방향 가운데 정렬 */
}

@media only screen and (min-width: 800px) {
  .card {
    width: 30em; 
    height: 15em;
  }
  .card-back {
    width: 30em; 
    height: 15em;
  }
  .codeUi-section{
    display: flex;
    flex-direction: row;
    justify-content: center; /* 주 축을 따라 가운데 정렬 */
    align-items: center; /* 교차 축을 따라 가운데 정렬 */
    flex-wrap: wrap; 
  }
}

@media only screen and (min-width: 1450px) {
  
  .codeUi-section{
   
    display: flex;
    flex-direction: row;
    justify-content: center; /* 주 축을 따라 가운데 정렬 */
    align-items: center; /* 교차 축을 따라 가운데 정렬 */
    /* flex-wrap: wrap;  */
  }
}

.card .line-numbers {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.03);
  font-size: 13px;
}
.card .line-numbers > div {
  padding: 2.5px 0;
  opacity: 0.15;
}
.card code, .card .line-numbers {
  color: whitesmoke;
}
.card .indent {
  padding-left: 30px;
}
.card .operator {
  color: #4dd0e1;
}
.card .string {
  color: #9ccc65;
}
.card .variable {
  color: #BA68C8;
}
.card .property {
  color: #ef5350;
}
.card .method {
  color: #29b6f6;
}
.card .function {
  color: #FDD835;
}
.card .boolean {
  color: #4dd0e1;
}