.MainPageDiv{
  padding: 10%;
}

.slogan{

  text-align: center;
  font-weight: bold;
}
.slogan2{

  text-align: center;
  font-weight: bold;
}

/* 모바일 디바이스일 때 */
@media only screen and (max-width: 600px) {
  .slogan{
      font-size: 40px;    
    }
  .slogan2{
    font-size: 12px; 
  }
  .MainPageDiv{
    padding:5%;
    padding-top: 10%;
  }
  }
  
  /* 데스크톱 디바이스일 때 */
  @media only screen and (min-width: 601px) {
    .slogan{
      font-size: 100px;    
    }
    .slogan2{
      font-size: 30px;
      margin-bottom: 50px;
    }
    .MainPageDiv{
      padding-top: 8%;
    }
  }
  
  .divider1{
    background-color: #F8F7F3;
    width: 100%;
  }
  .divider2{
    background-color: #ffffff;
    width: 100%;
  }
  
  .custom-shape-divider-top-1694790510 {
  
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1694790510 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 46px;
}

.custom-shape-divider-top-1694790510 .shape-fill {
    fill: #ffffff;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1694790510 svg {
        width: calc(100% + 1.3px);
        height: 39px;
    }

    
}

/** For mobile devices **/
@media (max-width: 850px) {
    .custom-shape-divider-top-1694790510 svg {
        width: calc(100% + 1.3px);
        height: 28px;
    }
    .divider1{
      display:none;
    }
}
  
.Main2Title{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .Main2Title{
   
    font-size: 40px;
    margin-bottom: 50px;
  }
}

.mobile-accordion{
  padding-top: 10%;
}

@media (min-width: 850px) {
  .mobile-accordion {
    display: none;
  }
}

@media (max-width: 851px) {
  .MainPageDiv.Main2 {
    display: none;
  }
  .Main2Title{
    font-size: 30px;
  }
}

.Mobile-Main2Title{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1023px){
  .Mobile-Main2Title{
    font-size: 40px;
  }
}

.carosel-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
